# Ignore the .git directory
.git

# Ignore the .env file
.env

# Ignore any Docker-related files
Dockerfile
docker-compose.yml

# Ignore the node_modules directory (if you have one)
node_modules

# Ignore Go build and test files
*.out
*.test

# Ignore editor and OS specific files
*.swp
*~
*.swo
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore the binary executable
app