# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build by `go test`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Editor backup files
*~
*.swp

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Ignore the .env file
.env

# Ignore the node_modules directory (if you have one)
node_modules

# Ignore the binary executable
app